* {
  margin: 0px;
  padding: 0px;
}
/* here lies the shadows of the boxes */
.shadow-1 {
  /* border: 2px solid red; */
  border-radius: 16px;
  box-shadow: -2px -2px 5px 0px #ccc;
  margin-top: 32px;
}
.shadow-2 {
  /* border: 2px solid red; */
  border-radius: 16px;
  box-shadow: 2px 2px 5px 0px #ccc;
  margin-top: 32px;
}
/* box styles ends here  */

/* This is where the styles/css of the front banner starts */
.front-banner {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  height: 652px;
  background-size: contain;
}
.banner-texts {
  display: flex;
  height: 652px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
  margin: 0px 221px;
}

.banner-texts img {
  height: 240px;
  width: 240px;
}
.banner-texts h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  margin: 24px 0px;
}
.banner-texts p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
  margin: 24px 0px;
  /* border: 2px solid green; */
}

.banner-texts button {
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
/* banner page css ends here  */

/* Here Begins the css of WebDev section */

.webdev-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 946px;
  height: 1235px;
  /* border: 2px solid green; */
  margin: 154px 247px;
}

.webdev-container > h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.webdev-container > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 48px;
  /* margin: 0px 48px 0px 48px; */
}

/* This is where the design of container-1 begins */

.container-1 {
  display: flex;
  gap: 100px;
  width: 850px;
  height: 240px;
  margin: 48px 48px 48px 48px;
}

.container-1-texts > h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.container-1-texts > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.container-1-texts > button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

/* this is where the design of container 2 begins  */

.container-2 {
  display: flex;
  gap: 32px;
  width: 850px;
  height: 240px;
  margin: 48px 48px 48px 48px;
}
.container-2-texts > h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.container-2-texts > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.container-2-texts > button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

/* this is where the design of container-3 begins */

.container-3 {
  display: flex;
  gap: 100px;
  width: 850px;
  height: 240px;
  margin: 48px 48px 48px 48px;
}

.container-3-texts > h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.container-3-texts > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.container-3-texts > button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

/* ... inspire section starts here... */

.inspire-container {
  width: 1140px;
  height: 775px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  margin: 0px 150px;
  /* justify-content: ; */
  align-items: center;
}
.inspire-container > h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.inspire-container > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 80px;
}
.inspire-container > iframe {
  border-radius: 16px;
}

/* Target page css starts here  */

.target-container {
  display: flex;
  width: 1140px;
  height: 460px;
  flex-direction: column;
  margin: 150px 150px;
  /* border: 2px solid red; */
  /* justify-content: center; */
  align-items: center;
}
.target-container > h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.target-container > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
  opacity: 0.7;
}

/* Target-items section goes here  */

.target-item-container {
  display: flex;
  gap: 24px;
}
.target-1,
.target-2,
.target-3 {
  width: 364px;
  height: 350px;
  /* border: 2px solid red; */
  border-radius: 16px;
}

/* Target 1 css here  */

.target-1 {
  background-color: rgba(255, 76, 30, 0.05);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.target-1 > img {
  width: 56px;
  height: 56px;
  padding: 40px 0px 24px 40px;
}
.target-1 > h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
  margin-left: 40px;
}
.target-1 > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin: 0px 40px 24px 40px;
}
.target-1 > a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin: 0px 0px 40px 40px;
}

/* Target 1 ends here  */

/* Target 2 starts here  */

.target-2 {
  background-color: rgba(0, 76, 232, 0.05);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.target-2 > img {
  width: 56px;
  height: 56px;
  padding: 40px 0px 24px 40px;
}
.target-2 > h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
  margin-left: 40px;
}
.target-2 > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin: 0px 40px 24px 40px;
}
.target-2 > a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin: 0px 0px 40px 40px;
}

/* Target 2 ends and target 3 starts here  */

.target-3 {
  background-color: rgba(255, 223, 0, 0.05);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.target-3 > img {
  width: 56px;
  height: 56px;
  padding: 40px 0px 24px 40px;
}
.target-3 > h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
  margin-left: 40px;
}
.target-3 > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin: 0px 40px 24px 40px;
}
.target-3 > a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin: 0px 0px 40px 40px;
}

/* Support page section starts here  */

.support-section {
  width: 1140px;
  height: 313px;
  /* border: 2px red solid; */
  /* background-image: url(../assets/handshake.jpg); */
  /* background-color: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/handshake.jpg);

  /* background-image: black (to right , rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0url(../assets/handshake.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 80px 150px;
  border-radius: 16px;
}

.support-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 1044px;
  height: 185px;
  margin: 64px 198px;
  /* justify-content: center; */
  align-items: center;
  /* margin: 48px 198px; */
}
.support-container > h3 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.support-container > p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 24px;
}
.input-container {
  display: flex;
  gap: 16px;
}
.input-1 {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  width: 548px;
  height: 57px;
  background: rgb(255, 255, 255);
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding: 19px 20px 19px 20px;
}
.input-2 {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 120px;
  height: 57px;
  padding: 17px 20px 17px 20px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

/* Footer container starts here  */
.footer-section {
  display: flex;
  /* border: 2px solid red; */
  width: 1440px;
  height: 100px;
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.1);
}
.footer-container {
  /* border: 2px red solid; */
  display: flex;
  width: 1140px;
  height: 36px;
  margin: 32px 150px;
  gap: 680px;
  /* justify-content: space-between; */
  align-items: center;
}
.footer-container > h4 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.footer-icons {
  display: flex;
  gap: 24px;
  width: 36px;
  height: 36px;
}

/* Optional-Header-Part STARTS HERE */
.header-section {
  height: 131px;
  width: 1440px;
  display: flex;
  /* border: 2px red solid; */
  gap: 782px;
}
.header-section > h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  margin: 50px 0px 50px 150px;
}
.header-section > h3 > span {
  color: orange;
}
.header-section > button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  /* padding: 17px 24px 17px 24px; */
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  width: 228px;
  height: 58px;
  margin: 36px 0px;
  cursor: pointer;
}

/* Optional 2 Next Target Container CSS starts here  */
.next-target-container {
  display: flex;
  width: 1140px;
  height: 866px;
  flex-direction: column;
  /* border: 2px red solid; */
  margin: 0px 150px;
  align-items: center;
}
.next-target-container > h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.next-target-container > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 48px;
}

/* Here starts the design of the next target items */
/* Target 1 css starts here  */

.next-target-1 {
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  width: 1140px;
  height: 219px;
  padding: 40px;
  gap: 24px;
  align-items:center;
  /* align-content: center; */
  /* justify-content:space-evenly; */
}
.next-target-1-div > h3 {
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 8px;
}

.next-target-1-div > p {
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 24px;
}
.next-target-1-div > a {
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}
.next-target-1 > div > img {
  width: 100px;
}

.next-target-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}